@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  scroll-behavior: smooth;
}

body, * {
  box-sizing: content-box;
  cursor: none;
}

body {
  background: #0f0f0f;
}

::selection {
  background-color: #fefefe;
  color: #000;
}

.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold border border-b-0 rounded-t-lg text-gray-200 border-gray-700 bg-gray-900;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply block px-4 -mx-4 border-l-4 border-blue-500 bg-gray-900;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.metric-card > a {
  @apply no-underline;
}

.metric-card > p {
  @apply my-2;
}

.step > h3 {
  @apply my-0;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

.darkBackgroundCirclesColors {
  inset: 0px;
  position: absolute;
  z-index: -1;
  background: radial-gradient(
      circle at top left,
      rgba(139, 0, 255, 0.22) 0%,
      rgba(0, 0, 0, 0) 15%,
      rgba(128, 128, 128, 0) 100%
    ),
    radial-gradient(
      circle at 85% 30%,
      rgba(0, 136, 255, 0.28) 0%,
      rgba(0, 0, 0, 0) 30%,
      rgba(128, 128, 128, 0) 15%
    );
}

@media (min-width: 900px) {
  .darkBackgroundCirclesColors {
    background: radial-gradient(
        circle at 15% 55%,
        rgba(139, 0, 255, 0.22) 0%,
        rgba(0, 0, 0, 0) 25%,
        rgba(128, 128, 128, 0) 100%
      ),
      radial-gradient(
        circle at 85% 30%,
        rgba(0, 136, 255, 0.28) 0%,
        rgba(0, 0, 0, 0) 30%,
        rgba(128, 128, 128, 0) 25%
      );
  }
}
